/* mobile and tablet */

/* parameters that are set for the entire site. intentionally similar to the 
single page site Akash showed us in class */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: 0 auto;
    font-family: 'roboto';
}

/* header/navigation bar */

.header {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 2%;
}

/* nav-header is separated because it has different padding (because of text size)
and doesn't have a link  */

.nav-header {
    display: block;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 50%;
    padding: 4%;
    border: purple solid 5px;
    background-color: aliceblue;

}


.list {
    display: block;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 50%;
    padding: 1%;
    color: black;
    border: purple solid 5px;
    background-color: aliceblue;
    
}


/* landing page */


@media screen and(max-width:850px) {
    

.web-dev {
    border-bottom: black solid 1px;
} 
        
    }
    
.paragraph {
    margin: 2% 5%;
    border-bottom: black solid 1px;
    font-family: 'roboto';
}

/* footer */

/* The layout look for the footer is similar to the header but the code ended up different. This is 
a learning curve for me. In the future I would develop a template for both */

.footer {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'roboto';
}

.footer-header {
    display: block;
    background-color: aliceblue;
    margin-bottom: 5%;
    margin-right: 3%;
    margin-left: 50%;
    padding: 4%;
    border: purple solid 5px;

}


.footer-list {
    display: block;
    margin-bottom: 5%;
    margin-right: 3%;
    margin-left: 50%;
    padding: 1%;
    color: black;
    border: purple solid 5px;
    background-color: aliceblue;
}


/* adjustments for desktop */

@media screen and (min-width: 850px) {
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 100vw;
        margin: 0 auto;
        min-height: 100vh;
    }
    
    /* header/ navigation bar */
    
    .header {
        display: flex;
        padding: 40px 6px 10px;
        background-color: black;
    }

    .nav-header {
        justify-content: space-evenly;
        margin-left: 65px;
        margin-right: 30px;
        background-color: rgb(235, 239, 243);
        padding: 15px 15px;
    }

    .nav-header:hover {
        transform: scale(1.1);
    }
    
    .list {
        justify-content: space-evenly;
        margin-left: 20px;
        margin-right: 30px;
        background-color: rgb(235, 239, 243);
        padding: 15px 15px;
       }

    .list:hover {
        transform: scale(1.1);
    }

       /* landing page */
    
    
    .landing-page {
        background-color: rgb(235, 239, 243);
        display: flex;
        justify-content: center;
    }
    
    
    .paragraph {
        margin: 200px 200px;
        font-size: large;
        border-bottom: black solid;
    }
    
    
    .social-media {
        display: inline-block;
        justify-content: space-around;
        margin: 200px 200px;
        background-color: rgb(235, 239, 243);
    }
    
    /* footer */
    
    .footer {
        padding: 50px 60px;
        background-color: black;
    }
    
   
    
    .footer-header {
        display: inline-block;
        justify-content: space-evenly;
        margin-left: 20px;
        background-color: rgb(235, 239, 243);
        padding: 15px 20px;
    }

    .footer-header:hover {
        transform: scale(1.1);
    }
    .footer-list {
        display: inline-block;
        justify-content: space-evenly;
        margin-left: 20px;
        background-color: rgb(235, 239, 243);
        padding: 15px 20px;
    }

    .footer-list:hover {
        transform: scale(1.1);
    }
}



